extends layout

block header
	script(src='/js/validator.min.js', defer)
	script(src='/js/jquery.form.min.js', defer)
	script(src='/js/upload_entry.js', defer)
	script(src='/js/card-run.js', defer)

	link(rel='stylesheet', href='/css/card-style.css')


block content
	.col-xs-12.page-header
		h2.text-info
			b Exercise List

	if admin
		.col-xs-12
			a.btn.btn-danger(role='button', href='/exercise/resolve') Resolve
			a.pull-right(role='button', href='/exercise/add')
				h4#btn-add
					| #[span.glyphicon.glyphicon-plus]
					| Add

	include problem-card
	each exercise in exerciseList
		+card(exercise, 'exercise')

	// Result Modal
	include modal-result
	script(src='/js/submit_exercise.js', defer)

	// confirm modal
	include modal-confirm
