extends layout

block header
	script(src='/js/validator.min.js')
	script(src='/js/bootstrap-datepicker.min.js')
	link(rel='stylesheet', href='/css/bootstrap-datepicker3.min.css')
	style.
		.form-group {
			margin-bottom: 40px;
		}

		@media (min-device-width: 768px) {
			.row .form-group {
				margin-bottom: 0;
			}
		}

		@media (max-device-width: 768px) {
			.file-name {
				margin-bottom: 15px !important;
			}

			.row .form-group {
				margin-bottom: 0;
			}
		}

		#btn-append-item {
			padding-top: 3px;
			padding-bottom: 3px;
		}

block content
	.col-md-12.page-header
		h2.text-info
			b Create Homework

	form#create-hw(action='/homework', method='POST', data-toggle="validator", role='form')
		// homework name
		.col-xs-12.col-md-6
			.form-group.has-feedback
				label.control-label(for='hw_name') Homework Name
				input.form-control.input-lg#hw_name(type='text', placeholder='Name', name='name', data-remote='name', required)
				span.glyphicon.form-control-feedback(aria-hidden='true')

		// description pdf URL
		.col-xs-12.col-md-6
			.form-group.has-feedback
				label.control-label(for='description_url') Description URL
				input.form-control#description_url(type='url', placeholder='URL', name='description', required)
				span.glyphicon.form-control-feedback(aria-hidden='true')

		// start and due dates
		.col-xs-12.col-md-6
			.form-group.has-feedback
				label.control-label(for='date_picker') Start and Due dates
				.input-daterange.input-group#date_picker
					input.date-input.form-control#start-date(type='text', placeholder='Start date', name='start', required)
					span.input-group-addon to
					input.date-input.form-control#due-date(type='text', placeholder='Due date', name='due', required)
				span.glyphicon.form-control-feedback(aria-hidden='true')
				.help-block#diff-date

				script(src='/js/date_picker_init.js')

		// attachment setting
		.col-xs-12
			label.control-label(for='attachments') Attachment Setting
			.panel.panel-default#attachments
				.panel-body
					h3.text-info
						b Attachments

				ul.list-group#attach-list

				.panel-footer.text-center
					a.btn.btn-link#btn-append-item(role='button')
						span.glyphicon.glyphicon-plus(aria-hidden="true")

		// submit button
		.col-xs-12
			.form-group
				button.btn.pull-right.btn-primary(type='submit') Create

	// list item template for attachments
	li.list-group-item#list-item_template
		.row
			.col-xs-10.col-sm-6
				.form-group.has-feedback.file-name
					input.form-control(type='text', placeholder='File Name', aria-label='File Name', name='attachment[][name]', required)
					span.glyphicon.form-control-feedback(aria-hidden='true')
			.col-xs-10.col-sm-5
				.form-group.has-feedback.extension
					select.form-control(aria-label='File Type', name='attachment[][extension]', required)
						option(value='cpp') C++
						option(value='java') Java
						option(value='makefile') Makefile
						option(value='report') Report
						option(value='zip') Zip
			.pull-right.text-center.wrapper-btn-remove
				a.btn.btn-link.btn-remove-item(role='button')
					span.glyphicon.glyphicon-trash(aria-hidden="true")


	script(src='/js/homework_add.js')
