extends layout

block header
	script(src='/js/validator.min.js', defer)
	script(src='/js/jquery.form.min.js', defer)
	script(src='/js/upload_entry.js', defer)
	script(src='/js/card-run.js', defer)

	link(rel='stylesheet', href='/css/card-style.css')


block content
	.col-xs-12.page-header
		h2.text-info
			b Homework List

	if admin
		.col-xs-12
			a.pull-right(role='button', href='/homework/add')
				h4#btn-add
					| #[span.glyphicon.glyphicon-plus]
					| Add

	include problem-card
	each homework in homeworkList
		// TODO: variable graceDay
		+card(homework, 'homework', 2)

	// confirm modal
	include modal-result
	script(src='/js/compile_test.js', defer)

	// confirm modal
	include modal-confirm