extends layout

block content
	script(src='/js/validator.min.js')
	form(action='/homework/add', method='post', data-toggle="validator", role='form')
		.col-xs-12.col-md-6
			.form-group.has-feedback
				label(for='hw_name') Homework Name
				input.form-control.input-lg#hw_name(type='text', placeholder='Name', name='name', required)
				span.glyphicon.form-control-feedback(aria-hidden='true')

		.col-xs-12.col-md-6
			.form-group.has-feedback
				label(for='description_url') Description URL
				input.form-control#description_url(type='url', placeholder='URL', name='description', required)
				span.glyphicon.form-control-feedback(aria-hidden='true')
