extends layout

block content
	.col-md-12.page-header
		h1.text-info Create Homework
	script(src='/js/validator.min.js')
	script(src='/js/bootstrap-datepicker.min.js')
	link(rel='stylesheet', href='/css/bootstrap-datepicker3.min.css')
	style.
		.form-group {
			margin-bottom: 40px;
		}

		.row .form-group {
			margin-bottom: 0;
		}
	form(action='/homework/add', method='post', data-toggle="validator", role='form')
		// homework name
		.col-xs-12.col-md-6
			.form-group.has-feedback
				label.control-label(for='hw_name') Homework Name
				input.form-control.input-lg#hw_name(type='text', placeholder='Name', name='name', required)
				span.glyphicon.form-control-feedback(aria-hidden='true')

		// description pdf URL
		.col-xs-12.col-md-6
			.form-group.has-feedback
				label.control-label(for='description_url') Description URL
				input.form-control#description_url(type='url', placeholder='URL', name='description', required)
				span.glyphicon.form-control-feedback(aria-hidden='true')

		// start and due dates
		.col-xs-12.col-md-6
			.form-group.has-feedback
				label.control-label(for='date_picker') Start and Due dates
				#date_picker.input-daterange.input-group
					input.date-input.form-control#start-date(type='text', placeholder='Start date', name='start', required)
					span.input-group-addon to
					input.date-input.form-control#due-date(type='text', placeholder='Due date', name='due', required)
				span.glyphicon.form-control-feedback(aria-hidden='true')
				.help-block#diff-date

				script(type='text/javascript').
					$('#date_picker').datepicker({
						todayBtn: true,
						orientation: "bottom auto",
						todayHighlight: true
					});

					Date.dateDiff = function (fromDate, toDate) {
						const diff = toDate - fromDate;
						const divideBy = 86400000;

						return Math.floor(diff / divideBy) + 1;
					};

					$('.date-input').change(function () {
						const fromArr = $('#start-date').val().split('/');
						const toArr = $('#due-date').val().split('/');

						const fromDate = new Date(fromArr[2], fromArr[0] - 1, fromArr[1]);
						const toDate = new Date(toArr[2], toArr[0] - 1, toArr[1]);

						$('#diff-date').text(Date.dateDiff(fromDate, toDate) + ' Days');
					});

		.col-xs-12
			.form-group
				label.control-label(for='attachments') Attachment Setting
				.panel.panel-success#attachments
					// Default panel contents
					.panel-heading
						h4.text-info Attachments
					ul.list-group
						li.list-group-item
							.row
								.col-xs-4.form-group.has-feedback
									input.form-control(type='text', placeholder='File Name', required)
								.col-xs-7.form-group.has-feedback
									select.form-control(required)
										option(value='cpp') C++
										option(value='java') Java
										option(value='makefile') Makefile
										option(value='md') Markdown
										option(value='report') Report

						li.list-group-item Dapibus ac facilisis in
						li.list-group-item Morbi leo risus
						li.list-group-item Porta ac consectetur ac
						li.list-group-item Vestibulum at eros
					.panel-footer Panel footer

		.col-xs-12.form-group
			button.btn.pull-right.btn-success(type='submit') Create