extends layout

block content
	.col-md-12.jumbotron
		h1.text-center.col-lg-12 #{title}#[br]#[small #{yearNSeason}]

		p Welcome to Online Submission System for #{title}

	unless signIn
		.row.col-md-12
			.col-sm-5.col-md-4.col-lg-3
				a.btn.btn-block.btn-social.btn-lg.btn-google#login-btn(data-loading-text='<i class="fa fa-google"></i>Signing in...')
					i.fa.fa-google
					| Sign in with Google

				script(type='text/javascript').
					next = function () {
						auth2.attachClickHandler(document.getElementById('login-btn'), {}, onSignIn);
					};

			.col-sm-7.col-md-8.col-lg-9
				blockquote
					p You have to sign in to Google to verify your identity.

		block header
			script(src='/js/jquery.form.min.js')
			script(src='/js/validator.min.js')

		.modal.fade#register-modal(tabindex='-1', role='dialog', aria-labelledby="register-modal-title")
			.modal-dialog(role='document')
				form.register-form(action='/register', method='POST', data-toggle="validator", role='form')
					.modal-content
						.modal-header
							button.close(type='button', data-dismiss='modal', aria-label='Close')
								span(aria-hidden='true') ×
							h2.text-info.modal-title#register-modal-title
								| #[i.fa.fa-info-circle(aria-hidden='true')]
								| Register required
						.modal-body
							.row
								.col-md-12
									h4 Signing in Google was successful, but you have to register your student identification to use this system.
							.row
								.col-md-12
									.form-group.has-feedback
										label(for='student-id') Student ID
										.input-group#student-id
											input.inputs.form-control(type='text', placeholder='20XX', pattern="^[0-9]{4}$", aria-describedby='student_id-splitter', maxlength='4', name='student_id1', required)
											span#student_id-splitter.input-group-addon -
											input.inputs.form-control(type='text', placeholder='XXXXXX', pattern="^[0-9]{5}$", maxlength='5', name='student_id2', required)
										span.glyphicon.form-control-feedback(aria-hidden='true')
							.row
								.col-md-12
									.form-group.has-feedback
										label(for='name-input') Name
										input.inputs.form-control#name-input(type='text', placeholder='Name', name='name', required, disabled)

							script(type="text/javascript").
								$(".inputs").keyup(function () {
									if (this.value.length === this.maxLength) {
										$(this).nextAll('.inputs').eq(0).focus();
									}
								});


						.modal-footer
							input#id_token-input(type='text', hidden='true', name='id_token', required)
							button.btn.btn-default(type='button', data-dismiss='modal') Close
							button.btn.btn-success#register-btn(type='submit', data-loading-text='<i class="fa fa-refresh fa-spin fa-fw" aria-hidden="true"></i> Registering...') Register

		.modal.fade#error-modal(tabindex='-1', role='dialog', aria-labelledby="error-modal-title")
			.modal-dialog(role='document')
				.modal-content
					.modal-header
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true') ×
						h2.text-danger.modal-title#error-modal-title
							| #[i.fa.fa-exclamation-circle(aria-hidden='true')]
							| Unregistered Student
					.modal-body
						.row
							.col-xs-12
								h4 You are not registered in our database. #[br] If you are a student of computer programming (#{yearNSeason}), please contact web administrator.

					.modal-footer
						button.btn.btn-default(type='button', data-dismiss='modal') Close

		script(type='text/javascript').
			const $registerModal = $('#register-modal');
			const $registerBtn = $('#register-btn');
			const $errorModal = $('#error-modal');

			$('.register-form').validator().on('submit', function (e) {
				if (!e.isDefaultPrevented()) {
					e.preventDefault();

					const $form = $(this);
					const form = this;
					$registerBtn.button('loading');

					$form.ajaxSubmit({
						statusCode: {
							201: function () {
								location.reload();
							},
							204: function () {
								$registerBtn.button('reset');

								form.reset();
								$form.validator('validate');

								$registerModal.modal('hide');
								$errorModal.modal('show');
							},
							401: function () {
								location.reload();
							}
							// TODO: handling errors
						}
					});
				}
			});
